.calendar {
    --width: min(calc(100vw / 3.1), 200px);
    max-width: calc(var(--width)*4); 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.header {
    
    height: 20vh;
    line-height: 20vh;
    vertical-align: middle;
}

.calendar-date {
    --height: min(calc(100vh / 4), 800px);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: 20px;
    cursor:pointer;
    margin: 0px;
    background-color: antiquewhite;
    border: 0 auto;
    /* Outline */
    outline-width: 1px;
    outline-style: dashed;
    outline-color: wheat;
    outline-offset: -10px;
    color: white;
}

.calendar-date:hover {
    background-color: rgb(174, 27, 27);
    transition: background-color 0.7s;
}

#date-24 {
    background-color: red;
    color: white;
}

.countdown-timer-head {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(#FE5F75, #FC9842);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}